.Rproj.user
*.Rhistory
*.Rapp.history
*.fls
*.log
*.aux
*.fdb_latexmk
*.xlsx
*.dvi
*.gz(busy)
*.rtf
*.tex.latexmain
stan_gaussianPoisson.rda
gaussianGamma.rda
mvtGamma.rda
visualize-t-rf.html
*.rda
*.so
*.o
.DS_Store
examples/snow-crab/crab.csv
simulationTesting/mvn_vs_mvt_files/figure-latex/unnamed-chunk-1-1.pdf
simulationTesting/mvn_vs_mvt_cache/latex/__packages
*.RData
*.rdb
*.rdx
simulationTesting/mvn_vs_mvt_files/figure-latex/check-projection-1.pdf
simulationTesting/mvn_vs_mvt_files/figure-latex/stan_mvtGamma-1.pdf
simulationTesting/mvn_vs_mvt_files/figure-latex/stan_mvtGamma1-1.pdf
simulationTesting/mvn_vs_mvt_files/figure-latex/stan_mvtGamma50-1.pdf
simulationTesting/mvn_vs_mvt_files/figure-latex/stan_mvtNormal-1.pdf
simulationTesting/mvn_vs_mvt_files/figure-latex/stan_mvtNormal2-1.pdf
simulationTesting/mvn_vs_mvt.pdf
.DS_Store
*.pdf
simulationTesting/gamma-sim-testing.rds
*.rds
*.html
*.vim
examples/moths/moth-dat.csv
examples/moths/moth-sites.csv
examples/beetles/Washington*
examples/beetles/Pacific*
examples/beetles/2-mountain-pine-model_*
examples/beetles/Northern/*
examples/OR_blooms/stanMod_norm.rds
examples/OR_blooms/or-blooms-priors.pdf
examples/OR_blooms/stanMod_norm.rds
bound0m_shp_nt00298

*.bbl

*.blg

*.gz

examples/rockfish/canary_rockfish.R

*.png

simulationTesting/mvt-mvn-difference_cache/html/__globals

simulationTesting/mvt-mvn-difference_cache/html/__packages

simulationTesting/mvt-mvn-difference_cache/html/__objects

*.jpg
*.docx
sim/4.5-bias-sim_cache
sim/4.5-bias-sim_files
text/Appendix-S2-spatial-glms_cache/latex/__globals
text/Appendix-S2-spatial-glms_cache/latex/__objects
text/Appendix-S2-spatial-glms_cache/latex/__packages
*.pdf
