.Rproj.user
*.Rhistory
*.Rapp.history
*.fls
*.log
*.aux
*.fdb_latexmk
*.xlsx
*.dvi
*.gz(busy)
*.rtf
*.tex.latexmain

stan_gaussianPoisson.rda

gaussianGamma.rda

mvtGamma.rda

visualize-t-rf.html

*.rda
